@import url("reset.css");

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    width: 1000px;
}

#header {
    float: left;
    height: 25px;
    width: 1000px;
    background: #00C3FF;
}

#content {
    float: left;
    background: #FFFFFF;
    width: 1000;
}

#footer {
    height: 10px;
    width: 1000px;
    background: #E3DEDE;
    clear: both;
}

