@import url("reset.css");
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:#333
}
.popup {
    width: 500px;
    height: 500px
}
p {
    padding: 0px;
}
#wrapper {
    margin: 0 auto;
    width: 1000px;
}
#header {
    float: center;
    width: 250px;
    height: 12px;
    font-size: 10px;
    text-align: center;
    padding: auto;
    background: #00C3FF;
}
#content {
    float: center;
    text-align: center;
    background: #FFFFFF;
    width: 1000;
}
#footer {
    float: center;
    height: 12px;
    font-size: 10px;
    text-align: center;
    padding: auto;
    background: #E3DEDE;
    clear: both;
}